NODE_ENV=production
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# Authentication
JWT_SECRET=
JWT_REFRESH_SECRET=

# Cloudinary Setup for File Uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# termii
TERMII_API_KEY=
TERMII_SENDER_ID=
TERMII_EMAIL_CONFIG_ID=

# paga
PAGA_USERNAME=
PAGA_SECRET_KEY=
PAGA_HMAC_KEY=
PAGA_BASE_URL=
PAGA_TEST_MODE=false
PAGA_BUSINESS_PUBLIC_ID=
PAGA_BUSINESS_PASSWORD=
PAGA_CALLBACK_URL=

# VTU
VTU_USERNAME=
VTU_PASSWORD=
VTU_BASE_URL=